@using Model;

@model tblusers

@{
    ViewBag.Title = "我的信息";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

@section PageSpecificStyleSheetIncludes{
 <script type="text/javascript" src="@Url.Content("~/Content/laydate/laydate.js")"></script>
}

@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        var stInt;

        $(function () {
            $("#vbtn").click(function () {
                var strname = $("#txtname").val().replace(/(^\s*)|(\s*$)/g, "");
                var mbname = strname.replace(/(^\s*)|(\s*$)/g, "");

                if (strname == null || strname == "") {
                    jNotify('请输入姓名', { VerticalPosition: "center" });
                    return;
                }

                var strmobile = $("#txtmobile").val().replace(/(^\s*)|(\s*$)/g, "");
                if (strmobile == null || strmobile == "") {
                    jNotify('请输入手机号', { VerticalPosition: "center" });
                    return;
                }

                var isMobile = /^(?:13\d|15\d)\d{5}(\d{3}|\*{3})$/;
                if (!isMobile.test(strmobile)) {
                    jNotify('请检查手机号码是否正确', { VerticalPosition: "center" });
                    return;
                }

                var strtype = $("#cbxcardtype").val();
                if (strtype == "1") {

                    var strcard = $("#txtcard").val().replace(/(^\s*)|(\s*$)/g, "");
                    var pattern = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;

                    if (!pattern.test(strcard)) {
                        jNotify('请输入正确的身份证号', { VerticalPosition: "center" });
                        return;
                    }
                }
                else {
                    var strsr = $("#txtsr").val().replace(/(^\s*)|(\s*$)/g, "");
                    if (strsr == null || strsr=="") {
                        jNotify('请输入生日', { VerticalPosition: "center" });
                        return;
                    }
                }

                form1.submit();
                });
            });
    </script>
}

    <div class="mainArea clear">
        <div class="leftMenu">
            <div class="bor noLine">
                <div class="tradeTitle">
                    <span class="trade1">信息详情</span>
                </div>
                <ul>
                    <li class="cur"><a href="#" class="">我的信息</a></li>
                    <li class=""><a href="@Url.Action("mymatch")" class="">我的赛事</a></li>
                    <li class=""><a href="@Url.Action("myinfo")" class="">我的消息</a></li>
                    <li class=""><a href="@Url.Action("myfix")" class="">更改密码</a></li>
                </ul>
            </div>
            <div class="bor">
                <ul>
                    <li class=""> <a href="#" id="myexit">退出登录</a> </li>
                </ul>
            </div>
        </div>
        <div class="rightArea">
            <div id="ipalert">
            </div>
            <script type="text/javascript">
                // 页面加载完后执行
                if (window.onload != null) {
                    // 追加方法
                    eval("theOldFun=" + window.onload.toString());
                    window.onload = function () {
                        theOldFun(); // 新用户引导条
                        jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                        });
                    }
                } else {
                    window.onload = function () {
                        // 新用户引导条
                        jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                        });
                    }
                }
            </script>
            <div class="buysellTitle" style="margin-bottom: 0px;">
                <div class="selecttab1">
                    <ul class="selecttab-box1">
                        <li class="cur"><a class="otherBoxTitle" href="#">我的信息</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="entrustTen lasttenOrder clear">
                <div class="Tenbody">
                    <table width="1024">
                        <tr class="space">
                            <td align="left" style="padding: 20px">
                                <div class="form-group">

                                    @using (Html.BeginForm(null, null, FormMethod.Post, new{id="form1" }))
                                    {
                                    <div style="margin: 20px 0">
                                        <label style="width: 60px; float: left; line-height: 27px; margin: 0 20px">
                                            姓名</label>
                                        <input class="blankInformation" type="text" id="txtname" name="txtname" value="@Model.Name"/>
                                    </div>
                                    <div style="margin: 20px 0">
                                        <label style="width: 60px; float: left; line-height: 27px; margin: 0 20px">
                                            手机号码</label>
                                        <input class="blankInformation" type="text" id="txtmobile" name="txtmobile" value="@Model.Mobile"/>
                                    </div>
                                    <div style="margin: 20px 0">
                                        <label style="width: 60px;float: left;line-height: 27px;margin: 0 20px">性别</label>
                                        <select class="form-control" style="border: 1px solid #e6e6e6;font-size: 14px;color: #555;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);"
                                          id="cbxsexy" name="cbxsexy">
                                          @if (Model.sexy == "2")
                                          {
                                            <option value="1">男</option>
                                            <option value="2" selected="selected">女</option>
                                          }
                                          else
                                          { 
                                           <option value="1" selected="selected">男</option>
                                            <option value="2">女</option>
                                          }
                                          
                                        </select>
                                    </div>
                                    <div style="margin: 20px 0">
                                        <label style="width: 60px;float: left;line-height: 27px;margin: 0 20px">证件类别</label>
                                        <select class="form-control" style="border: 1px solid #e6e6e6;font-size: 14px;color: #555;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);"
                                        id="cbxcardtype" name="cbxcardtype">
                                        @if (Model.cardtype == "2")
                                        {
                                            <option value="1">身份证</option>
                                            <option value="2" selected="selected">护照</option>
                                        }
                                        else
                                        { 
                                         <option value="1" selected="selected">身份证</option>
                                            <option value="2">护照</option>
                                        }                                        
                                        </select>
                                    </div>
                                    <div style="margin: 20px 0">
                                        <label style="width: 60px; float: left; line-height: 27px; margin: 0 20px">
                                            证件号</label>
                                        <input class="blankInformation" type="text" id="txtcard" name="txtcard" value="@Model.cardno"/>
                                    </div>
                                    <div style="margin: 20px 0">
                                        <label style="width: 60px; float: left; line-height: 27px; margin: 0 20px">
                                            生日</label>
                                        <input class="laydate-icon" type="text" onclick="laydate()"  id="txtsr" name="txtsr" value="@(Model.birthday.HasValue ? Model.birthday.Value.ToString("yyyy-MM-dd"): "")"/>
                                    </div>
                                    <div class="tenBodyTitle clear" style="margin: 20px 300px;">
                                        <a class="cur" id="vbtn">确认信息</a><a onclick="javascript:window.location.reload();"
                                            class="cur">取消</a>
                                    </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    @if (Model.Status == -999)
    {
        @Html.Raw("jError('保存失败', { VerticalPosition: 'center' });")
    }
    else if (Model.Status == -888)
    { 
        @Html.Raw("jSuccess('保存成功', { VerticalPosition: 'center' });")
    }
    </script>