@using Model;

@{
    ViewBag.Title = "我的赛事";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

@model List<tblmatchentity>

<div class="mainArea clear">

    <div class="leftMenu">



        <div  class="bor noLine">
            <div class="tradeTitle">
                <span class="trade1">信息详情</span>
            </div>
            <ul>
                    <li class=""><a href="@Url.Action("my")" class="">我的信息</a></li>
                    <li class="cur"><a href="#" class="">我的赛事</a></li>
                    <li class=""><a href="@Url.Action("myinfo")" class="">我的消息</a></li>
                    <li class=""><a href="@Url.Action("myfix")" class="">更改密码</a></li>
            </ul>
        </div>
        <div class="bor">
            <ul>
                <li class="">
                    <a href="#" id="myexit">退出登录</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="rightArea">
        <div id="ipalert"></div>
        <script type="text/javascript">
            // 页面加载完后执行
            if (window.onload != null) {
                // 追加方法
                eval("theOldFun=" + window.onload.toString());
                window.onload = function () {
                    theOldFun(); // 新用户引导条
                    jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                    });
                }
            } else {
                window.onload = function () {
                    // 新用户引导条
                    jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                    });
                }
            }
        </script>

        <div class="buysellTitle" style="margin-bottom:0px;">
            <div class="selecttab1">
                <ul class="selecttab-box1">
                    <li class="cur" >
                        <a class="otherBoxTitle" href="#">我的赛事</a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="entrustTen lasttenOrder clear">
            <div class="Tenbody">
                <table>
                    <tr>
                        <th width="260">比赛时间</th>
                        <th width="260">比赛内容</th>
                        <th width="260">赛事状态</th>
                        <th width="260">队伍名称</th>
                        <th width="260">支付</th>
                        <th width="260">详情</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                      <tr class="">
                        <td>@item.Date1.Value.ToString("yyyy-MM-dd")</td>
                        <td>@item.Content</td>
                        <td>@item.Status</td>
                        <td><a href="@Url.Action("Step4", "enter", new { tid = item.Teamid })">@item.Teamname</a></td>
                        @if (item.Pay == 2)
                        {
                            <td style="color:Red;">已支付</td>
                        }
                        else
                        { 
                            <td  style="color:Green;"><a target="_blank" href="@Url.Action("create", "pay", new { id = item.Teamid })">请付款</a></td>
                        }
                        
                        <td><a href="#">详情</a></td>
                        </tr>
                    }

                </table>
            </div>
            <input id="currentPage" type="hidden" value="1">



        </div>
    </div>
</div>
