@using Model;

@{
    ViewBag.Title = "报名信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<tblmatchentity>

@section PageSpecificStyleSheetIncludes{
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            font-family: "微软雅黑";
        }

            body ul {
                list-style-type: none;
            }

        /*middle-bar*/
        .banner {
            height: 100px;
            background-color: #229fe6;
            text-align: center;
        }

        .nav {
            height: 48px;
            background-color: #229FE6;
            text-align: center;
        }

            .nav ul {
                list-style-type: none;
                text-align: center;
                width: 700px;
                margin: 0 auto;
            }

                .nav ul li {
                    float: left;
                    font-size: 1.2em;
                    line-height: 48px;
                    color: #ffffff;
                    margin: 0 15px;
                }

                    .nav ul li a {
                        padding: 0 15px;
                        color: #ffffff;
                        text-decoration: none;
                    }

                    .nav ul li:hover {
                        background-color: #ea7b02;
                    }

                .nav ul .active {
                    background-color: #ea7b02;
                }

        /*notice*/
        .article h3 {
            font-size: 31px;
            margin: 0 0 1em 0;
            font-weight: 700;
            padding-bottom: .5em;
            text-align: center;
            color: #1CD5B5;
            font-family: 'PoiretOne-Regular';
        }


        /*foot*/
        .foot {
            height: 150px;
            background-color: #CBCBCB;
            text-align: center;
            padding: 20px 0;
            color: #ffffff;
        }

            .foot p {
                font-size: 14px;
            }

        .copyright {
            text-align: center;
        }

            .copyright p {
                display: block;
                color: #FFFFFF;
                font-size: 14px;
                margin: .5em 0 0 0;
            }

                .copyright p a {
                    color: #FFF;
                }

        .rule {
            width: 900px;
            border-radius: 15px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 30px 0;
        }

        .tittle {
            width: 900px;
            height: 90px;
            line-height: 90px;
            font-family: "微软雅黑";
            font-size: 25px;
            font-weight: normal;
            background-color: #337ab7;
            color: #ffffff;
            padding-left: 20px;
        }

        .action {
            margin: 20px 30px;
            line-height: 25px;
        }

            .action span {
                float: left;
                width: 25px;
                height: 25px;
                background: url("img/icon-rule-gre.png");
                background-size: cover;
                margin-right: 10px;
            }

            .action .part1 {
                font-size: 15px;
                font-weight: 600;
            }

            .action hr {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .action .part2 {
                padding: 0px 80px 15px 50px;
                font-weight: 100;
                color: #666;
                margin-bottom: 35px;
                font-size: 10px;
            }
    </style>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-modal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/laydate/laydate.js")"></script>
}


@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        var stInt;
        var repl = false;
        var reld = false;

        $(function () {
            $("#mdInfo").modal({ show: false });
            $("#myModal").modal({ show: false });
            $("#coupnModal").modal({ show: false });
        });

        function cancel() {
            var bc = $("#btnc").text();

            if (bc.indexOf("剩余") >= 0)
                return;

            $('#mdInfo').modal('hide');
            $("#vbtn").val("立即付款完成报名");
            try {
                window.clearInterval(stInt);
            } catch (e) {

            }
        }

        function pay() {
            $("#mdInfo").modal('show');

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/enter/checkpay",
                data: "{ \"tid\": \"@ViewBag.tid\"}",
                dataType: "json",
                success: function (data) {
                    if (data.Code != 0 && data.Message != "正在支付，请等待") {
                        $("#divmsg").text(data.Message);
                        $("#btnw").css('display', 'none');
                        $("#btnc").text("关闭");
                        $("#btnc").attr("disabled", true);

                        if (data.Message == "队列已满,请等待之后再重试.") {
                            var i = 10;
                            stInt = window.setInterval(function () {
                                $("#btnc").text("剩余(" + i + ")秒");
                                i--;
                                if (i < 0) {
                                    window.clearInterval(stInt);
                                    $("#btnc").val("关闭");
                                    $("#btnc").attr("disabled", false);
                                }
                            }, 1000);
                        }
                    }
                    else {
                        $("#btnc").attr("disabled", true);
                        var i = 300;
                        stInt = window.setInterval(function () {
                            $("#vbtn").val("剩余(" + i + ")秒");
                            i--;
                            if (i < 0) {
                                window.clearInterval(stInt);
                                $("#vbtn").val("立即付款完成报名");
                            }
                        }, 1000);

                        document.getElementById("apay").click();
                    }
                }
            });
        }

        function confirmRp(id) {

            $("#m_i").val(id);
            $('#myModal').modal('show');
        }

        function replayer() {
            if (repl)
                return;

            repl = true;

            var o = $("#mobile_p").val();
            var isMobile = /^(?:13\d|18\d|17\d|14\d|15\d)\d{5}(\d{3}|\*{3})$/;
            if (!isMobile.test(o)) {
                jNotify('请检查手机号码是否正确', { VerticalPosition: "center" });
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/enter/replayer?mid=" + $("#m_i").val() + "&mobile=" + o,
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data.Code != 0) {
                        repl = false;
                        jError(data.Message);
                    }
                    else {
                        repl = false;
                        window.location.reload();
                    }
                }
            });
        }

        function releader(id) {

            if (reld)
                return;

            reld = true;

            if (!confirm("确认要设为队长?"))
                return;

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/enter/releader?mid=" + id,
                data: {},
                dataType: "json",
                success: function (data) {
                    if (data.Code != 0) {
                        reld = false;
                        jError(data.Message);
                    }
                    else {
                        reld = false;
                        window.location.reload();
                    }
                }
            });
        }
    </script>
}

<div class="article">
    <div class="container">
        <div class="rule">

            @if (ViewBag.tstatus != "0")
            {
                <div class="tittle">赛事预报名:成功</div>
            }
            else
            {
                <div class="tittle">赛事正式报名:成功</div>
            }
            <div class="action">
                <span></span><div class="part1">我的报名信息</div>
                <hr />
                <div class="part2">

                    @if (ViewBag.tstatus != "0")
                    {
                        <div class="alert alert-success" role="alert">
                            <span class="sr-only">Info:</span>
                            您已成功完成&nbsp;[@ViewBag.match]&nbsp;预报名
                            &nbsp;(已选路线：@ViewBag.lname

                            @if (ViewBag.leader == "1" && ViewBag.tstatus == "1" && (ViewBag.mstatus == "1" || ViewBag.mstatus == "2"))
                            {
                                <a style="color:red;" href="@Url.Action("step3", "enter" , new { tid=ViewBag.tid, tp="1" })">[更改]</a>
                            }

                            ),报名付款时间将会在 @ViewBag.rq 开始，请密切留意。
                            @{
                        int k = (int)ViewBag.quarty;
                        if (k >= 0 && k < 10)
                        {
                            <a style="font-size:14px;color:Red;">名额剩余:@k 名</a>
                        }
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success" role="alert">
                            <span class="sr-only">Info:</span>
                            您已成功完成  @ViewBag.match 正式报名,比赛将会在 @ViewBag.rq4 开始，请密切留意。
                        </div>
                    }
                    <div class="bs-example" data-example-id="simple-table">
                        <table class="table">
                            <caption>
                                @ViewBag.dw
                            @if (ViewBag.mstatus == "8" && Model.Count > 0)
                            {
                                @Html.Raw("&nbsp;&nbsp;[队列号:" + Model[0].Teamno_T + "]")
                            }
                        </caption>
                        <thead>
                            <tr>
                                <th>队长</th>
                                @if (ViewBag.mstatus == "8")
                                {
                                    <th>编号</th>
                                }
                                <th>姓名</th>
                                <th>手机号</th>
                                <th>性别</th>
                                <th>年龄</th>

                                @if (ViewBag.mstatus == "9" && ViewBag.tstatus == "0" && ViewBag.leader == "1")
                                {
                                    <th>操作</th>
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int idx = 0;

                                foreach (var item in Model)
                                {
                                    idx = idx + 1;
                                    <tr>
                                        <th scope="row">@(item.Leader == 1 ? "Y" : "N")</th>
                                        @if (ViewBag.mstatus == "8")
                                        {
                                            <td>@(item.Teamno_T + idx)</td>
                                        }

                                        <td>@item.Nickname</td>
                                        <td>@item.Mobile</td>
                                        <td>@(item.Sexy == 1 ? "男" : "女")</td>
                                        <td>@item.Age</td>

                                        @if (ViewBag.mstatus == "9" && ViewBag.tstatus == "0" && ViewBag.leader == "1")
                                        {
                                            if (item.Leader != 1)
                                            {
                                                if (item.Status == "8")
                                                {
                                                    <td><span>等待更换</span></td>
                                                }
                                                else if (ViewBag.recnt < 2)
                                                {
                                                    <td><a href="#" onclick="confirmRp('@item.Matchuserid')">更换队员</a>&nbsp;|&nbsp;<a href="#" onclick="releader('@item.Matchuserid')">更换队长</a></td>
                                                }
                                                else
                                                {
                                                    <td><a href="#" onclick="releader('@item.Matchuserid')">更换队长</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                        }

                                    </tr>
                                }}

                            @if (ViewBag.mstatus == "9")
                            {
                                <tr>
                                    <td colspan="6" align="center" valign="middle">
                                        <input type="button" id="vbtn" class="btn btn-success" value="报名已经结束" />
                                    </td>
                                </tr>
                            }
                            else if (ViewBag.mstatus == "8" && ViewBag.leader == "1" && ViewBag.tstatus == "1" && ViewBag.teamtype=="1")
                            {
                                 <tr>
                                                <td colspan="6" align="center" valign="middle">
                                                    <input type="button" id="vbtn" class="btn btn-success" onclick="pay()" value="立即付款完成报名" />
                                                    <a href="@Url.Action("create", "pay", new { id = ViewBag.tid })" id="apay" style="display:none;" target="_blank">pay</a>
                                                </td>
                                            </tr>                                
                            }
                            else
                            {
                                if (ViewBag.tstatus != "0")
                                {
                                    if (Model != null && Model.Count > 0 && Model[0].mstatus == "3" && ViewBag.leader == "1" && ViewBag.begin == "1")
                                    {
                                        int d = (int)ViewBag.quarty;

                                        if (d == 0)
                                        {
                                            <tr>
                                                <td colspan="6" align="center" valign="middle">
                                                    <input type="button" id="vbtn" class="btn btn-success" value="很遗憾，本次报名已满，感谢您的参与" />
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6" align="center" valign="middle">
                                                    <input type="button" id="vbtn" class="btn btn-success" onclick="pay()" value="立即付款完成报名" />
                                                    <a href="@Url.Action("create", "pay", new { id = ViewBag.tid })" id="apay" style="display:none;" target="_blank">pay</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" align="center" valign="middle">
                                            <input type="button" id="vbtn" class="btn btn-success" value="付款已完成" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


<div class="modal fade" id="mdInfo" tabindex="-1" role="dialog" aria-labelledby="mdLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="binfo" style="height:150px; width:240px;">

                <div id="divmsg" style=" margin-top:20px; margin-left:20px; color:Red; font-size:16px;">正在支付，请等待...</div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal" onclick="javascript:window.location.reload();" id="btnw">支付完成</a>
                <a href="#" class="btn btn-primary" onclick="cancel()" id="btnc">取消支付</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 id="myModalLabel">
                    更换队员
                </h4>
            </div>
            <div class="modal-body" style="height:100px; width:210px;">

                <input id="m_i" type="hidden" />
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入更换队员手机号码" id="mobile_p" name="Mobile" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal">关闭</a>
                <a href="#" class="btn btn-primary" onclick="replayer()">确定</a>
            </div>
        </div>
    </div>
</div>
