@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>uploadimg</title>
    <link href="@Url.Content("/Content/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/jNotify/jquery/jNotify.jquery.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jNotify/jquery/jNotify.jquery.min.js")"></script>

    <script type="text/javascript">
    function uploadImage() {
    //判断是否有选择上传文件
    var imgPath = $("#a_file").val();
    if (imgPath == "") {
    alert("请选择上传图片！");
    return;
    }
    //判断上传文件的后缀名
    var strExtension = imgPath.substr(imgPath.lastIndexOf('.') + 1).toLowerCase();
    if (strExtension != 'jpg' && strExtension != 'gif'
    && strExtension != 'png' && strExtension != 'bmp') {
    alert("请选择图片文件");
    return;
    }
    
    fileform.submit();
    }
    </script>
</head>
<body>
    <div class="form-group">
        <script type="text/javascript">
            window.parent.setpic("");
        </script>
        <form enctype="multipart/form-data" method="post" action="/enter/postimg" id="fileform">
            <table width='100%'><tr><td><input type="file" class="form-control" id="a_file" name="a_file" value="" /></td>
            <td style='width:80px;'>&nbsp;<a href="#" onclick="uploadImage()">[上传]</a></td></tr></table>
        </form>
    </div>   
</body>
</html>
