@using Model;
@using BLL;
@using Web;

@model tblmatch

@{
    ViewBag.Title = "新增";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}

@section PageSpecificJavascriptIncludes{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#mainForm").submit(function () {

                return true;
            });
        });
    </script>
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div id="msg">@Html.Raw(ViewBag.ErrorMsg)</div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>赛事名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Match_name, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Match_name)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>赛事描述：</label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.Content, new { @class = "m-wrap large" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Content)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">省市：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Area1, new { @class = "m-wrap small" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">区县：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Area2, new { @class = "m-wrap small" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">报名开始：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Date1, new { @class = "m-wrap small", id = "Date1" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">报名结束：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Date2, new { @class = "m-wrap small", id = "Date2" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">开赛时间：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Date3, new { @class = "m-wrap small", id = "Date3" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">支付时间：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Date4, new { @class = "m-wrap small", id = "Date4" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>赛事图片(大)</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Pic1, new { @style = "width:80%;", type = "file" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Pic1)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">赛事图片(小)</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Pic2, new { @style = "width:80%;", type = "file" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Pic2)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">状态：</label>
                <div class="controls">
                    <select id="optStatus" name="optStatus" data-placeholder="请选择状态" class="m-wrap small">
                        @Html.Raw(ViewBag.Status)
                    </select>
                </div>
            </div>
            </div>
        </div>
}
<script type="text/javascript" src="@Url.Content("~/scripts/js/selector/jquery-1.10.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/js/datepicker/jquery-ui.js")"></script>
<script>
    $(function () {
        $("#Date1").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#Date2").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#Date3").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#Date4").datepicker({ dateFormat: 'yy-mm-dd' });
    });

</script>

