@using Model;

@model List<tblmatch>

@{
    ViewBag.Title = "城市定向赛";
    Layout = "~/Views/Shared/_pLayout.cshtml";
}

@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
    body{margin: 0;padding: 0;background-color: #f4f4f4;font-family: "微软雅黑"}
    body ul{list-style-type: none}

    /*middle-bar*/
    .banner{height: 100px;background-color: #229fe6;text-align: center}

    .nav{height: 48px;background-color: #229FE6;text-align: center;}
    .nav ul{list-style-type: none;
        text-align: center;
        width: 700px;
        margin: 0 auto;}
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #48b4ff}
    .nav ul .active{background-color: #48b4ff}


    /*.blog-left-right {  margin-top: 1em;  }
    .blog-left {  margin: 0em 0 2em 0;  padding-right: 1em;  }
    .Categories {  margin: 0;  }
    .Categories h3 {  font-size: 23px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .Categories ul {  margin: 0;  padding: 0;  }
    .Categories ul li {  display: block;  background: url(img/arrow.png) no-repeat 0px 2px;  margin-bottom: 1.5em;  }
    .Categories ul li a {  font-size: 14px;  margin: 0;  color: #B3B3B3;  padding-left: 2em;  }


    .blog {  padding: 4em 0;  }
    .blog-text h3 {  font-size: 31px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  text-align: center;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .blog-left {  margin: 0em 0 2em 0;  padding-right: 1em;  }
    .blog-left-left {  padding: 0 !important;  }
    .blog-left-left p {  margin: 0 0 1em;  font-size: 15px;  font-weight: 500;  color: #555555;  }
    .blog-left-left a img {  width: 100%;  }*/

    //*about*/
    .about-grids {  margin-bottom: 1em;  }
    .about-left h3 { font-size: 23px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  border-bottom: 1px solid #868686;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .about-left p {  font-size: 14px;  margin: 0.5em 0;  color: #B3B3B3;  line-height: 1.8em;  }
    .about-middle h3 {  font-size: 23px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  border-bottom: 1px solid #868686;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .about-right h3 {  font-size: 23px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  border-bottom: 1px solid #868686;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .about-right-info p {  font-size: 14px;  margin: 0.5em 0;  color: #B3B3B3;  line-height: 1.8em;  }

    /*foot*/
    .footer {  padding: 1em 0;  background: #CBCBCB;  }
    .footer-bottom {  padding-top: 2em;  }
    .copyright {  text-align: center;  }
    .copyright p {  display: block;  color: #FFFFFF;  font-size: 14px;  margin: .5em 0 0 0;  }
    .copyright p a {  color: #FFF;  }

    .rule{width: 900px;border-radius: 15px;margin:50px auto;background-color: #ffffff;padding: 30px 0}
    .tittle{width: 900px;height:90px;line-height: 90px;font-family: "微软雅黑";font-size: 25px;font-weight: normal;background-color: #48b4ff;color: #ffffff;padding-left: 20px}
    .action{margin: 20px 30px;line-height: 25px}
    .action span{float: left;width:25px;height: 25px;background: url("img/icon-rule-orang.png");background-size: cover;margin-right: 10px}
    .action .part1{font-size: 15px;font-weight: 600}
    .action hr{margin-top: 15px;margin-bottom: 10px}
    .action .part2{padding:0px 80px 15px 50px;font-weight: 100;color: #666;margin-bottom: 35px;font-size: 10px}

    .table blockquote{margin: 0;padding: 0 10px;font-size: 10px}
    /*.table tbody td{padding: 10px 0;}*/

    /*foot*/
    /*.footer {  padding: 1em 0;  background: #CBCBCB;  }
    .footer-bottom {  padding-top: 2em;  }
    .copyright {  text-align: center;  }
    .copyright p {  display: block;  color: #FFFFFF;  font-size: 14px;  margin: .5em 0 0 0;  }
    .copyright p a {  color: #FFF;  }*/

    /*比赛时间列表*/
    
    .tittle{height:90px;line-height: 90px;font-family: "微软雅黑";
            font-size: 25px;font-weight: normal;background-color: #48b4ff;color: #ffffff;padding-left: 20px
    }
    h6{color: #fff;font-weight: bold;}
    h6 .yu{ background-color:green;  }
    h6 .day{background-color:red;}
    </style>
}

@section PageSpecificJavascriptIncludes{

  }

<div class="header nav">
     <ul>
        <li><a href="@Url.Action("Index", "dx")">首页</a></li>
        <li class="active"><a href="#">赛事列表</a></li>
        @*<li><a href="@Url.Action("board", "dx")">竞赛公告</a></li>*@
        <li><a href="@Url.Action("about", "dx")">关于我们</a></li>
        @if (ViewBag.uuid == null)
        {
            <li><a href="@Url.Action("login", "member")">登录注册</a></li>
        }
        else
        { 
            <li><a href="@Url.Action("center", "member")">我的信息</a></li>
            <li><a href="@Url.Action("f880067","coupon")">F码通道</a></li>
        }
    </ul>
</div>





<div class="about">
    <div class="container">
        <div class="rule">
            <div class="tittle">中国坐标·泰安城市定向户外挑战赛</div>
           
            <div class="action">
                <span></span><div class="part1"> 参赛选手须知</div></br>
               
                <div class="part2">
                    <div class="bs-example" data-example-id="simple-table">
                        <table class="table">
       
                                <td>
                                    1．参赛选手须自愿参加本次活动。具有完全行为能力，无患有包括但不限于心脏病、高血压、哮喘、精神病等任何不适宜参与本赛事疾病的身体健康人员。若参赛人员隐瞒疾病或病史，强行参赛，后果自负。<br><br>
                                    2．所有参赛队伍报名确认后，由赛事组织方随机编排参赛线路，依次按序分批出发，不得随意更改。<br><br>
                                    3．参赛人员在比赛过程中须服从赛事组织方统一指挥，严格遵守比赛规则，在赛事组织方规定的时间、地点集结，注意交通安全，量力而行，不得擅自离队，否则自负其责。<br><br>
                                    4．参赛人员在比赛过程中须做到文明参与，自觉维护现场公共秩序，遵守社会公德，不得对他人进行人身攻击，不得违法或者有背于社会公德，并在赛事过程中发扬互助友爱的精神，使赛事顺利进行。<br><br>
                                    5．参赛人员保证在整个赛事过程中不随地抛洒、丢弃垃圾，所有垃圾都要打包带走。爱护自然环境中的一草一木，不随意采摘、破坏植物、不任意践踏、破坏植被。<br><br>
                                    6．参赛人员须自觉遵守所到坐标点的公共秩序及相关规定，不应对所经之处的公共秩序产生不良影响。 <br><br>
                                    7．每支参赛队伍至少有一人持有能够安装赛事专用的计时系统软件的智能手机（限IOS和安卓系统），在比赛过程中通过手机端软件打卡并获取点标任务。<br><br>
                                    8．所有参赛队员应自行携带赛事所需物品及装备，并妥善保管。非本地选手参赛需自理赴外地参赛的交通和食宿费用。<br><br>
                                    9．赛事组织方为参赛人员统一购买了相应的意外伤害保险。对于赛事中出现的意外伤害事故，参赛人员应及时通知赛事组织方，由赛事组织方向保险机构统一理赔，但赛事组织方无需对参赛人员因其故意或过错行为所遭致的伤害承担责任。<br><br>
                                    10．参赛人员须保证所提供的个人信息是真实、准确的，并愿意承担提供信息错误所带来的一切责任和后果。<br><br>
                                    11．参赛人员须缴纳60元/每人的报名费，每队5人共需缴纳300元，费用缴纳后视为参赛人员，已阅读本《须知》且参与本次赛事。<br><br>
                                    12．赛事组织方有权根据天气、人员情况对赛事作出适当调整。<br><br>
                                    13．参赛人员须在阅读并承诺遵守本《须知》后报名参赛，参赛人员应委托所属参赛队伍的队长办理报名手续并授权其签署报名文件。参赛人员一旦参赛则视为其已阅读并承诺遵守本《须知》。<br><br>
                                    14．赛事所有事宜解释权归组委会所有。
                                </td>
                        </table>
                    </div>






                </div>
            </div>
       
        </div>
    </div>
</div>