@using Model;

@model List<tblmatchentity>

@{
    ViewBag.Title = "导入确认";
    Layout = "~/Views/Shared/_mygroupLayout.cshtml";
}


@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">

        $(function () {
            $("#import").click(function () {
                $('#import').attr('disabled', true);
                $('#import').text("正在导入,请等待...");
                $("#import").attr("class", "");

                form1.submit();
            });
        });
    </script>
}

<div class="mainArea clear">

    <div class="leftMenu">

        <div  class="bor noLine">
            <div class="tradeTitle">
                <span class="trade1">信息详情</span>
            </div>
            <ul>
                <li class=""><a href="@Url.Action("my","group")" class="" >我的信息</a></li>
                <li class="cur"><a href="@Url.Action("import","group")" class="">报名导入</a></li>
                <li class=""><a href="@Url.Action("matchlist", "group")" class="">我的赛事</a></li>
                <li class=""><a href="@Url.Action("myinfo","group")" class="">我的消息</a></li>
                <li class=""><a href="@Url.Action("myfix","group")" class="">更改密码</a></li>
            </ul>
        </div>

        <div class="bor">
            <ul>
                <li class="">
                    <a href="#" id="myexit">退出登录</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="rightArea">
        <div id="ipalert"></div>
        <script type="text/javascript">
            // 页面加载完后执行
            if (window.onload != null) {
                // 追加方法
                eval("theOldFun=" + window.onload.toString());
                window.onload = function () {
                    theOldFun(); // 新用户引导条
                    jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                    });
                }
            } else {
                window.onload = function () {
                    // 新用户引导条
                    jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                    });
                }
            }
        </script>

        <div class="buysellTitle" style="margin-bottom:0px;">
            <div class="selecttab1">
                <ul class="selecttab-box1">
                    <li class="cur" >
                        <a class="otherBoxTitle" href="#">报名导入</a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="entrustTen lasttenOrder clear">
            <div class="entrustTen lasttenOrder clear">
                目前比赛：<a class="excel">@ViewBag.matchname</a>
                @*目前团队：<a class="excel">xXXXX</a>*@

                <div class="Tenbody">
                    <table>
                        <tr>
                            <th width="100">序号</th>
                            <th width="160">队伍名称</th>
                            <th width="120">线路名</th>
                            <th width="80">是否队长</th>
                            <th width="120">队员姓名</th>
                            <th width="80">年龄</th>
                            <th width="60">性别</th>
                            <th width="180">证件号</th>
                            <th width="120">手机号</th>
                            <th width="60">是否健康</th>
                            <th width="200">检查结果</th>
                        </tr>

                        @if (Model == null || Model.Count < 1)
                        { 
                            <tr class="">
                                <td colspan=11 style="color:Red;">请检查是否上传了数据及数据格式是否正确</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr class="">
                                    <td>@item.Pnov</td>
                                    <td>@item.Teamname</td>
                                    <td>@item.Lineno</td>
                                    <td>@item.LeaderM</td>
                                    <td>@item.Nickname</td>
                                    <td>@item.Age</td>
                                    <td>@(item.Sexy.Value==1?"男":"女")</td>
                                    <td>@item.Cardno</td>
                                    <td>@item.Mobile</td>
                                    <td>@item.Mono</td>
                                    <td style="color:Red;">@item.Content</td>
                                </tr>                            
                            }
                        }
                    </table>

                      @using (Html.BeginForm("beginimp", "group", FormMethod.Post, new { id = "form1" }))
                      {
                            <input id="matchid" name="matchid" type="hidden" value="@ViewBag.matchid"/>
                          <input id="fid" name="fid" type="hidden" value="@ViewBag.fid" />
                      }
                    <div class="tenBodyTitle clear" style="margin: 20px 300px;">
                        <a onclick="javascript:history.go(-1);" class="cur">上一步</a><a href="#" class="cur" id="import">开始导入</a>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>

    <script type="text/javascript">
    @if (ViewBag.error == "-2")
    {
        @Html.Raw("$('#import').attr('disabled', true);")
        
        @Html.Raw("$('#import').attr('class', '');")
    }
    else if (ViewBag.error == "-1")
    {
        @Html.Raw("$('#import').attr('disabled', true);")    
        
        @Html.Raw("$('#import').attr('class', '');")
    }
    </script>