@{
    ViewBag.Title = "导入成功";
    Layout = "~/Views/Shared/_mygroupLayout.cshtml";
}


<div class="mainArea clear">

    <div class="leftMenu">

           <div  class="bor noLine">
            <div class="tradeTitle">
                <span class="trade1">信息详情</span>
            </div>
            <ul>
                <li class=""><a href="@Url.Action("my","group")" class="" >我的信息</a></li>
                <li class="cur"><a href="@Url.Action("import","group")" class="">报名导入</a></li>
                <li class=""><a href="@Url.Action("matchlist", "group")" class="">我的赛事</a></li>
                <li class=""><a href="@Url.Action("myinfo","group")" class="">我的消息</a></li>
                <li class=""><a href="@Url.Action("myfix","group")" class="">更改密码</a></li>
            </ul>
        </div>

        <div class="bor">
            <ul>
                <li class="">
                    <a href="#" id="myexit">退出登录</a>
                </li>
            </ul>
        </div>


    </div>
    <div class="rightArea">
        <div id="ipalert"></div>
        <script type="text/javascript">
            // 页面加载完后执行
            if (window.onload != null) {
                // 追加方法
                eval("theOldFun=" + window.onload.toString());
                window.onload = function () {
                    theOldFun(); // 新用户引导条
                    jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                    });
                }
            } else {
                window.onload = function () {
                    // 新用户引导条
                    jQuery("#ipalert").load("/user/showIpAlert.do", function () {
                    });
                }
            }
        </script>

        <div class="buysellTitle" style="margin-bottom:0px;">
            <div class="selecttab1">
                <ul class="selecttab-box1">
                    <li class="cur" >
                        <a class="otherBoxTitle" href="#">报名导入</a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="entrustTen lasttenOrder clear">
            <div class="Tenbody">
                <table>
                    <tr>
                        <th width="1024"> </th>
                    </tr>
                    <tr class="space">
                        <td align="left" style="padding: 20px">
                                <div style="margin: 20px 0">
                                    <label style="width: 80px;float: left;line-height: 20px;margin: 0 20px">赛事名称:</label>
                                    @ViewBag.match
                                </div>
                                <div style="margin: 20px 0">
                                    <label style="width: 80px;float: left;line-height: 20px;margin: 0 20px">团队名称：</label>
                                    @ViewBag.com
                                </div>
                                <div style="margin: 20px 0">
                                    <label style="width: 80px;float: left;line-height: 20px;margin: 0 20px">导入信息：</label>
                                    @ViewBag.msg
                                </div>
                                 <div class="tenBodyTitle clear" style="margin: 20px 300px;">
                                    <a href="@Url.Action("import","group")" class="cur">继续导入</a>
                                </div>
                        </td>
                    </tr>
                </table>


            </div>

        </div>
    </div>
</div>

