@using Model;

@{
    Layout = null;
}

@model List<tblmatchentity>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中国坐标 | 城市定向赛</title>

    <!--bootstrap css-->
    <link href="@Url.Content("/Content/wap/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <!--custom css-->
    <link href="@Url.Content("/Content/wap/css/style.css")" rel="stylesheet" type="text/css" media="screen">
    <!--font awesome icons css -->
    <link href="@Url.Content("/Content/wap/css/font-awesome.min.css")" rel="stylesheet">
    <!--animated css-->
    <link href="@Url.Content("/Content/wap/css/animate.css")" rel="stylesheet" type="text/css">
    <!--flex slider css-->
    <link href="@Url.Content("/Content/wap/css/flexslider.css")" rel="stylesheet" type="text/css">

    <style>
        /*背景色*/
        body {
            background-color: rgba(230, 230, 230, 0.3);
            font-family: "微软雅黑";
        }
        /*底色-白*/
        .blog-desc {
            background-color: #ffffff;
            padding: 0;
            margin: 15px 0 !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="bolg-full" class="row">
                    <div class="col-xs-12">
                        <div class="blog-desc">
                        @if(Model!=null&&Model.Count>0)
                        { 
                            <p style="padding-left: 15px;padding-top: 15px;font-size: 18px"><a href="#"> @Model[0].Match_name</a></p>
                            <div class="post-date"></div>
                            <div class="row" style="padding: 0 0 15px 0">
                                <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                    比赛时间：@Model[0].Date4.Value.ToString("yyyy-MM-dd")
                                </div>
                                <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                    比赛线路：@Model[0].Lineno
                                </div>
                                <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                    状态：@{
                            switch (Model[0].Teamstatus)
                            {
                                case 0:
                                    @("报名成功");
                                    break;
                                case 1:
                                    @("预报名完成");
                                    break;
                                case 2:
                                    @("预报名未完成");
                                    break;
                                case 6:
                                    @("注册未完成");
                                    break;
                                default:
                                    break;
                            }
                                        
                                    }
                                    
                                </div>
                                <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                    小伙伴：<br>
                                    @foreach (var item in Model)
	                                {
                                        @(item.Nickname + "  ");
	                                }
                                </div>
                            </div>
                        }
                        else
                        { 
                            <p style="padding-left: 15px;padding-top: 15px;font-size: 18px"><a href="#">没有赛事信息</a></p>
                        }
                        </div><!--blog-desc-->
                    </div>
                </div>
            </div>
        </div><!--filter row-->
    </div>
</body>
</html>
