@using Model;

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中国坐标 | 城市定向赛</title>

    <!--bootstrap css-->
    <link href="@Url.Content("/Content/wap/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <!--custom css-->
    <link href="@Url.Content("/Content/wap/css/style.css")" rel="stylesheet" type="text/css" media="screen">
    <!--font awesome icons css -->
    <link href="@Url.Content("/Content/wap/css/font-awesome.min.css")" rel="stylesheet">
    <!--animated css-->
    <link href="@Url.Content("/Content/wap/css/animate.css")" rel="stylesheet" type="text/css">
    <!--flex slider css-->
    <link href="@Url.Content("/Content/wap/css/flexslider.css")" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <style>
        /*背景色*/
        body {
            background-color: rgba(230, 230, 230, 0.3);
            font-family: "微软雅黑";
        }
        /*底色-白*/
        .blog-desc {
            background-color: #ffffff;
            padding: 0;
            margin: 15px 0 !important;
        }

        label {
            margin:10px 4px;
        }
    </style>
    <script type="text/javascript" language="javascript">
        /*------判断radio是否有选中，获取选中的值--------*/
        $(function () {
            $("#btnSbmt").click(function () {
                var val1 = $('input:radio[name="q1"]:checked').val();
                if (val1 == null) {
                    alert("请回答问题1");
                    return false;
                }

                var val2 = $('input:radio[name="q2"]:checked').val();
                if (val2 == null) {
                    alert("请回答问题2");
                    return false;
                }

                var val3 = $('input:radio[name="q3"]:checked').val();
                if (val3 == null) {
                    alert("请回答问题3");
                    return false;
                }

                var val4 = $('input:radio[name="q4"]:checked').val();
                if (val4 == null) {
                    alert("请回答问题4");
                    return false;
                }

                var val5 = $('input:radio[name="q5"]:checked').val();
                if (val5 == null) {
                    alert("请回答问题5");
                    return false;
                }

                var val6 = $('input:radio[name="q6"]:checked').val();
                if (val6 == null) {
                    alert("请回答问题6");
                    return false;
                }

                var val7 = $('input:radio[name="q7"]:checked').val();
                if (val7 == null) {
                    alert("请回答问题7");
                    return false;
                }

                var val8 = $('input:radio[name="q8"]:checked').val();
                if (val8 == null) {
                    alert("请回答问题8");
                    return false;
                }

                return true;
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="bolg-full" class="row">
                    <div class="col-xs-12">
                        <div class="blog-desc">
                            @if (ViewBag.result == "1")
                            {
                                using (Html.BeginForm())
                                {

                                    <input id="hidmid" name="hidmid" type="hidden" value="@ViewBag.mid" />
                                    <input id="hiduid" name="hiduid" type="hidden" value="@ViewBag.uid" />

                                    <p style="padding-left: 15px;padding-top: 15px;font-size: 18px"><a href="#"> 问题测试</a></p>
                                    <div class="post-date"></div>
                                    <div class="row" style="padding: 0 0 15px 0">
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            1.	雅培拥有先进的脊椎刺激术治疗技术，可以帮助人们：
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio1" type="radio" name="q1" value="A" />A.缓解慢性疼痛
                                            </label>
                                            <label>
                                                <input id="Radio2" type="radio" name="q1" value="B" />B.改善行动能力
                                            </label>
                                            <label>
                                                <input id="Radio3" type="radio" name="q1" value="C" />C.提高生活质量
                                            </label>
                                            <label>      <input id="Radio4" type="radio" name="q1" value="D" />D.以上都对</label>
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            2.	雅培,做为诊断领域的先驱，拥有先进的血液筛查技术的公司，携手哪一位世界级明星在全世界倡导献血，鼓励人们尝试献血，拯救生命？
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio5" type="radio" name="q2" value="A" />A.C罗
                                            </label>
                                            <label>
                                                <input id="Radio6" type="radio" name="q2" value="B" />B.张靓颖
                                            </label>
                                            <label>    <input id="Radio7" type="radio" name="q2" value="C" />C.克林顿</label>
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            3.	雅培做为全世界领先的医疗保健公司，除了婴幼儿奶粉营养品业务，还有其他哪些业务？
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio1" type="radio" name="q3" value="A" />A.医疗器械，药品，医疗诊断
                                            </label>
                                            <label>
                                                <input id="Radio2" type="radio" name="q3" value="B" />B.糖尿病监测和营养管理，心脏治疗和管理
                                            </label>
                                            <label>
                                                <input id="Radio3" type="radio" name="q3" value="C" />C.脊椎刺激术治疗技术
                                            </label>
                                            <label>      <input id="Radio4" type="radio" name="q3" value="D" />D.以上全是</label>
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            4.	 世界首创的穿戴扫描式血糖监测仪来自于哪家公司，可以帮助糖尿病患者不再需要扎手指取血样？
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio1" type="radio" name="q4" value="A" />A.雅培
                                            </label>
                                            <label>
                                                <input id="Radio2" type="radio" name="q4" value="B" />B.耐克
                                            </label>
                                            <label>
                                                <input id="Radio3" type="radio" name="q4" value="C" />C.欧莱雅
                                            </label>
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            5.	雅培5年前在中国哪一个城市成立了第一个心血管支架学术中心，培训提高中国医师的心血管疾病治疗水平
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio1" type="radio" name="q5" value="A" />A.上海
                                            </label>
                                            <label>
                                                <input id="Radio2" type="radio" name="q5" value="B" />B.北京
                                            </label>
                                            <label>
                                                <input id="Radio3" type="radio" name="q5" value="C" />C.深圳
                                            </label>
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            6.	哪家公司拥有先进的血液筛查技术，完成全球60%以上的血液筛
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio1" type="radio" name="q6" value="A" />A.雅培
                                            </label>
                                            <label>
                                                <input id="Radio2" type="radio" name="q6" value="B" />B.蒙牛
                                            </label>
                                            <label>
                                                <input id="Radio3" type="radio" name="q6" value="C" />C.脑白金
                                            </label>
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            7.	雅培药品部和中国医师学会一起，自2014年开展"绿丝带行动，向社会大众宣传什么疾病的危害
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio1" type="radio" name="q7" value="A" />A.慢性便秘等常见消化系统疾病
                                            </label>
                                            <label>
                                                <input id="Radio2" type="radio" name="q7" value="B" />B.罕见病
                                            </label>
                                            <label>
                                                <input id="Radio3" type="radio" name="q7" value="C" />C.心脏病
                                            </label>
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            8.	雅培连续几年被《财富》杂志评为“全球最受赞赏公司”医疗器械行业第一名
                                        </div>
                                        <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-10">
                                            <label>
                                                <input id="Radio1" type="radio" name="q8" value="A" />A.4
                                            </label>
                                            <label>
                                                <input id="Radio2" type="radio" name="q8" value="B" />B.3
                                            </label>
                                            <label>
                                                <input id="Radio3" type="radio" name="q8" value="C" />C.2
                                            </label>
                                        </div>
                                    </div>
 <input type="submit" value="提交" id="btnSbmt" class="btn btn-info"/>
                                
                                <br />
                                }
                            }
                            else if (ViewBag.result == "0")
                            {
                                <p style="padding-left: 15px;padding-top: 15px;font-size: 18px"><a href="#">答案已经上传</a></p>
                            }
                            else if (ViewBag.result == "-2")
                            {
                                <p style="padding-left: 15px;padding-top: 15px;font-size: 18px"><a href="#">请检查是否传参数</a></p>
                            }
                            else if (ViewBag.result == "-1")
                            {
                                <p style="padding-left: 15px;padding-top: 15px;font-size: 18px"><a href="#">请检查参数是否正确</a></p>
                            }
                        </div><!--blog-desc-->
                    </div>
                </div>
            </div>
        </div><!--filter row-->
    </div>
</body>
</html>
