@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中国坐标 | 城市定向赛</title>

    <!--bootstrap css-->
    <link href="@Url.Content("/Content/wap/bootstrap/css/bootstrap.min.css")" rel="stylesheet"/>
    <!--custom css-->
    <link href="@Url.Content("/Content/wap/css/style.css")" rel="stylesheet" type="text/css" media="screen"/>
    <!--font awesome icons css -->
    <link href="@Url.Content("/Content/wap/css/font-awesome.min.css")" rel="stylesheet"/>
    <!--animated css-->
    <link href="@Url.Content("/Content/wap/css/animate.css")" rel="stylesheet" type="text/css"/>
    <!--flex slider css-->
    <link href="@Url.Content("/Content/wap/css/flexslider.css")" rel="stylesheet" type="text/css"/>

    <style>
        /*背景色*/
        body {
            background-color: rgba(230, 230, 230, 0.3);
            font-family: "微软雅黑";
        }
        /*底色-白*/
        .blog-desc {
            background-color: #ffffff;
            padding: 0;
            margin: 15px 0 !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="bolg-full" class="row">
                    <div class="col-xs-12">
                        <div class="blog-desc">
                            <p style="padding-left: 15px;padding-top: 15px;font-size: 18px"><a href="#">注册协议：</a></p>
                            <div class="post-date"></div>
                            <div class="row" style="padding: 0 0 15px 0">
                                <div style="padding-left: 30px;padding-right: 0px;border-right: 1px solid #e5e5e5" class="col-xs-11">
                                    1、遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法。
                                    2、 用户对其自行发表、上传或传送的内容负全部责任，所有用户不得在本站任何页面发布、转载、传送含有下列内容之一的信息，否则本站有权自行处理并不通知用户：
                                    (1)违反宪法确定的基本原则的；
                                    (2)危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；
                                    (3)损害国家荣誉和利益的；
                                    (4)煽动民族仇恨、民族歧视，破坏民族团结的；
                                    (5)破坏国家宗教政策，宣扬邪教和封建迷信的；
                                    (6)散布谣言，扰乱社会秩序，破坏社会稳定的；
                                    (7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
                                    (8)侮辱或者诽谤他人，侵害他人合法权益的；
                                    (9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；
                                    (10)以非法民间组织名义活动的；
                                    (11)含有法律、行政法规禁止的其他内容的。
                                </div>
                            </div>
                        </div><!--blog-desc-->
                    </div>
                </div>
            </div>
        </div><!--filter row-->
    </div>
</body>
</html>