<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" content=""/>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>中国坐标 | @ViewBag.Title</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="中国坐标,城市定向赛"/>
	<meta content="" name="author" />
    <meta name="keywords" content="城市定向,上海"/>
    <link href="@Url.Content("/Content/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/jNotify/jquery/jNotify.jquery.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jNotify/jquery/jNotify.jquery.min.js")"></script>

@*    <style type="text/css">
    *{font-family: "微软雅黑";font-size: 16px}
    .banner{height: 149px;background-color: #229fe6;text-align: center}

    .nav{height: 48px;background-color: #145976;text-align: center;}
    .nav ul{list-style-type: none;text-align: center;width: 700px;margin: 0 auto;}
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #b23232}

    .content{background-color: #ffffff;height: 100%}
    .content .bor{border: 1px solid #bcbcbc;border-radius: 15px;padding: 50px 10px;margin: 30px}
    .content h3{text-align: center;margin: 20px auto !important;}
    .content h5{color: red}
    .content h5{margin-left: 30%}
    .content p{margin-left: 30%}
    .content .form-group{width: 305px;margin: 15px auto}
    .content .form-group input{display: inline}
    .content .form-control{width: 200px}
    .content .next{width: 305px}
    .content .space{height: 30px}
    .foot{height: 150px;background-color: #229fe6;text-align: center;padding: 20px 0;color: #ffffff}
    </style>*@

    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<body>
   
    <div class="header banner">
        <img  alt='' src="@Url.Content("~/Content/images/banner.png")" style="height: 100px;"/>
    </div>
    <div class="header nav">
     <ul>
        <li><a href="@Url.Action("Index", "dx")">首页</a></li>
        <li><a href="@Url.Action("bulletin", "dx")">赛事列表</a></li>
        @*<li><a href="@Url.Action("board", "dx")">竞赛公告</a></li>*@
        <li><a href="@Url.Action("about", "dx")">关于我们</a></li>
        @if (ViewBag.uuid == null)
        {
            <li><a href="@Url.Action("login", "member")">登录注册</a></li>
        }
        else
        { 
            <li><a href="@Url.Action("center", "member")">我的信息</a></li>
           <li id="fpc"><a href="@Url.Action("f880067","coupon")">F码通道</a></li>
        }
    </ul>
    </div>

     @RenderBody()

    <!--div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-bottom">
                    <div class="copyright">
                        <p></p>
                        <p>Copyrights © 2016 上海市登山运动协会</p>
                        <p>地址：上海市徐汇区天钥桥路666号上海体育场4号扶梯西侧</p>
                        <p>电话：021-64697960</p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div-->

     @RenderSection("PageSpecificJavascriptIncludes", required: false)

     
</body>
</html>
