<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" content=""/>
	<title>中国坐标 | @ViewBag.Title</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="中国坐标,城市定向赛"/>
	<meta content="" name="author" />
    <link href="@Url.Content("/Content/css/banner.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/coincommon_v2.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/chat.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/jquery-ui.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/bodych.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/common.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/datepicker.css")" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="@Url.Content("/Content/css/withdraw.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/jNotify/jquery/jNotify.jquery.css")" rel="stylesheet" />
    <style>
        .blankInformation{
            height: 27px;
            width: 348px;
            padding-left: 10px;
            border: 1px solid #e6e6e6;
            font-size: 14px;
            color: #555;
        }
        .lasttenOrder table td {
            height: 60px;
            border-top: 1px solid #e4e4e4;
        }
    </style>

    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jNotify/jquery/jNotify.jquery.min.js")"></script>

    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<body>
    <div class="nav1 clear" id="nav1">
        <div class="nav1-sub clear" style="width: 1180px;">
            <ul style="padding-left: 0px;">
                <li class="price"><span class="white">当前日期为：@DateTime.Now.ToString("yyyy年MM月dd日")</span></li>
            </ul>
            <div class="nav-quick">
                <div class="rightArea">
                    <span style="color: #131517; float: left; line-height: 30px;">|</span> <span id="accountlink"
                        class="welcome lightWhite inner"><span id="accountlinkBlock" style="display: inline-block;
                            min-width: 70px;"><span style="display: inline-block;"><a class="nickNameTitle" href="#"
                                style="max-width: 105px;">@ViewBag.uunm</a> </span><a class="logout" href="#" style="" id="myexitt">退出</a>
                            <span style="color: #131517; float: right; line-height: 30px; margin-left: 10px;">|</span>
                        </span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="nav_bg2 clear" id="nav_bg2">
        <div class="head clear" style="position: relative; width: 1180px;">
            <div class="loaded-logo1">
                <a href="/">
                    <img alt="" src="@Url.Content("/Content/img/logo0.png")" width="393" height="59" />
                </a>
            </div>
            <div style="position: absolute; top: 42px; left: 420px;">
                <div style="float: left; position: relative; line-height: 20px;">
                    <span class="siteTypeSelect">上海站 </span>
                </div>
            </div>
            <div class="accountinfo1">
                <div class="nav2-up1">
                    <div style="height: 30px; float: right;">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="nav2-center clear">
                    <div class="classDiv1">
                        <div class="frozen">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     @RenderBody()

       @RenderSection("PageSpecificJavascriptIncludes", required: false)

       <script type="text/javascript">
           $(function () {
               $("#myexit,#myexitt").click(function () {
                   if (confirm("确定要退出吗?"))
                       window.location.href = "/member/login?r=c";
               });
           });
        </script>
</body>
</html>
