@{
    ViewBag.Title = "城市定向赛";
    Layout = "~/Views/Shared/_pLayout.cshtml";
}


@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
    body{margin: 0;padding: 0;background-color: #f4f4f4;font-family: "微软雅黑"}
    body ul{list-style-type: none}

    /*middle-bar*/
    .banner{height: 100px;background-color: #229fe6;text-align: center}

    .nav{height: 48px;background-color: #229FE6;text-align: center;}
        .nav ul {
            list-style-type: none;
            text-align: center;
            width: 700px;
            margin: 0 auto;
        }
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #ea7b02}
    .nav ul .active{background-color: #ea7b02}



    /*about*/
    .about-grids {  margin-bottom: 1em;  }
    .about-left h3 { font-size: 23px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  border-bottom: 1px solid #868686;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .about-left p {  font-size: 14px;  margin: 0.5em 0;  color: #B3B3B3;  line-height: 1.8em;  }
    .about-middle h3 {  font-size: 23px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  border-bottom: 1px solid #868686;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .about-right h3 {  font-size: 23px;  margin: 0 0 1em 0;  font-weight: 700;  padding-bottom: .5em;  border-bottom: 1px solid #868686;  color: #1CD5B5;  font-family: 'PoiretOne-Regular';  }
    .about-right-info p {  font-size: 14px;  margin: 0.5em 0;  color: #B3B3B3;  line-height: 1.8em;  }

    /*foot*/
    .footer {  padding: 1em 0;  background: #CBCBCB;  }
    .footer-bottom {  padding-top: 2em;  }
    .copyright {  text-align: center;  }
    .copyright p {  display: block;  color: #FFFFFF;  font-size: 14px;  margin: .5em 0 0 0;  }
    .copyright p a {  color: #FFF;  }

    .rule{width: 900px;border-radius: 15px;margin:50px auto;background-color: #ffffff;padding: 30px 0}
    .tittle{width: 900px;height:90px;line-height: 90px;font-family: "微软雅黑";font-size: 25px;font-weight: normal;background-color: #ea7b02;color: #ffffff;padding-left: 20px}
    .action{margin: 20px 30px;line-height: 25px}
    .action span{float: left;width:25px;height: 25px;background: url("img/icon-rule-orange.png");background-size: cover;margin-right: 10px}
    .action .part1{font-size: 15px;font-weight: 600}
    .action hr{margin-top: 15px;margin-bottom: 10px}
    .action .part2{padding:0px 80px 15px 50px;font-weight: 100;color: #666;margin-bottom: 35px;font-size: 10px}
    </style>
}

@section PageSpecificJavascriptIncludes{

  }

<div class="header nav">
     <ul>
        <li><a href="@Url.Action("Index", "dx")">首页</a></li>
        <li><a href="@Url.Action("bulletin", "dx")">赛事列表</a></li>
        <li><a href="@Url.Action("board", "dx")">竞赛公告</a></li>
        <li class="active"><a href="#">关于我们</a></li>
        @if (ViewBag.uuid == null)
        {
            <li><a href="@Url.Action("login", "member")">登录注册</a></li>
        }
        else
        { 
            <li><a href="@Url.Action("center", "member")">我的信息</a></li>
        }
    </ul>
</div>

<!--about-->
<div class="about">
    <div class="container">
        <div class="rule">
            <div class="tittle">城市坐标.定向挑战赛</div>
            <div class="action">
                <span></span><div class="part1">中国坐标</div>
                <hr>
                <div class="part2"><p></p><p>中国坐标·城市定向户外挑战赛由中国登山协会主办，上海市登山户外运动协会负责全程运营。该项赛事由已连续成功举办六年的“上海坐标·城市定向户外挑战赛”升级而来。城市定向户外挑战赛是一项“以城市为赛场，以公共交通为赛道，以团队为参赛形式，以到达目标点标、完成指定任务为竞赛规则”的户外运动赛事。该项赛事以团队形式参赛，每支参赛队要求包括至少1名异性队员，每条线路由5－9个点标串联而成。比赛时，选手发挥团队协作能力，在综合比拼脑力、体力和创造力的同时依次寻访若干点标、完成设定任务，以用时排定最终名次。该项赛事以其“全民参与、全城热动、全能体验”的特性而成为城市体育名片全新选择，在响应全面健身和健康中国国家战略、讲好体育文化全新故事方面将发挥不可替代的作用。</p><p></p>
                </div>
            </div>
            <div class="action">
                <span></span><div class="part1">赛事发展</div>
                <hr>
                <div class="part2"><p>该项赛事由已连续成功举办六年的“上海坐标·城市定向户外挑战赛”升级而来。</p>
                    <p>上海坐标·城市定向户外挑战赛是上海市登山户外运动协会于2011年创意发起。</p>
                                    <p>2011年首届参赛人数只有70支队伍、350人、1条线路、7个点标。</p>
                                    <p>2012年第二届定向户外挑战赛，规模迅速发展到330支队伍，1350人参赛。</p>
                                    <p>2013年第三届则在往届的基础上再次实现规模翻倍，有688支队伍，3440人参赛。</p>
                                    <p>2014年第四届城市定向户外赛参赛人数首次突破万人大关，全部比赛由17条线路、115个坐标点串联而成，共计2014支队伍、10070人报名参赛，有近1000名裁判和工作人员提供赛事服务，真正实现“全民参与、全民办赛”的赛事初衷。</p>
                                    <p>2015年第五届城市定向户外挑战赛在保持前一年规模的基础上，实现内容升级。除了主会场上海体育场，还在静安、普陀、闸北和嘉定四个区设置了分赛场，形成“以上海体育场为核心，区县全方位互动”的格局。赛事共设24条各具特色的主题线路，共涉及点标158个。除了传统线路外，还加入了一系列创新线路以及公益线路。全面升级的赛事，受到新老定向迷和户外爱好者的热烈追捧，2192支队伍、11000个参赛名额，一经推出，2个小时内被一抢而光。2015年本项赛事被中国登山协会授予“中国创新城市户外赛事”称号，中国登山协会主席李致新出席赛事开幕式，向上海市登山户外运动协会会长胡神奇授牌。此外，当年的城市定向户外挑战赛还与上海F1大奖赛、上海网球大师赛、世界斯诺克上海大师赛等一起，被共同列为2015年上海市体育十二大品牌赛事，也是其中唯一的全民健身项目和拥有自主IP的赛事。</p>
                                    <p>2016年4月，第六届上海坐标·城市定向户外挑战赛规模再度升级，静安、普陀、徐汇、嘉定、宝山五个分赛场和主赛场上海体育场形成联动，总计线路达到35条，点标258个，参赛队伍4000支，参赛人员20000人，线上预报名人数超过10万。由于2016年正逢上海市第二届市民运动会举行，上海坐标·城市定向户外挑战赛开幕式现场同时成为市民运动会开幕式，上海四大班子领导出席，市委副书记、市长杨雄在开幕式上致辞，市委书记韩正宣布开幕。整个开幕式现场上万名城市定向户外挑战赛的参赛选手共同见证了这一壮观时刻。</p>

                    <img src="../Content/img/fz.jpg" style="text-align:center;width:98%;"/>
                </div>
            </div>
            <div class="action">
                <span></span><div class="part1">赛事特点</div>
                <hr>
                <div class="part2"><p></p><p>（1）全民参与</p>
                    <p>城市定向户外挑战赛虽是一项竞技类的比赛，但它又有别于传统的竞技项目，相比与城市马拉松，定向户外挑战赛对参与者的体能要求较低，参赛者可以利用公共交通结合徒步的方式完成比赛。门槛的降低、趣味性的增强，大大提升了定向户外赛的生命力。孩子可以和家长组队参赛、外籍人士可以和本地好友携手赴约、单身男女更可以抱团参加，定向户外挑战赛就如同为每一个“独一无二的你”打造的专属赛事，每一个独立的参赛者都能在这项赛事里找寻到属于自己的快乐和收获，在竞技比赛之余体会团队协作、体味城市之美。</p>
                    <p>（2）全城热动</p>
                    <p>城市定向户外挑战赛是依托上海这座城市的探索之旅，参赛者以组队的方式向这个城市的各个角落出发。定向户外挑战赛的点标，囊括了上海几乎所有的地标性建筑和城市景观，在公交和地铁线路中，在一条条街头巷尾上，都能看到身穿鲜艳比赛服的参赛选手……比赛日，辐射这座城市的选手嫣然成为都市一道道靓丽的风景，整座城市都随着选手的步伐自由奔跑。这里包含城市中的一切，无论你在这里生活了多久，都能通过这次穿梭，感受这座都市新的活力、发现这座城市新的面容。</p>
<p>（3）全能体验</p>
<p>城市定向户外挑战赛是以“比赛”为载体，以“参与”为目的、以“定向”为形式、以“娱乐”为感受的特殊体验。定向户外挑战赛给参赛者制定的不仅是一项赛事，更是一项让参赛者融入这座城市的摩登之旅。时间只是微不足道的考量，在不刻意追求速度的同时，在跑跑停停的节奏下，享受交友、品味休闲。在闭幕式现场设立的终点嘉年华，大大延伸了定向户外挑战赛的参赛体验和乐趣，同时也为广大参赛者提供了又一个交流的全新平台，为很多平时“足不出户”的都市白领开拓了新的交友空间。</p>
<p><br></p><p></p>
                </div>

            </div>
            <div class="action">
                <span></span><div class="part1">梦想坐标</div>
                <hr>
                <div class="part2">
                    <p>“梦想坐标·国际城市定向挑战赛”由上海中旅国际携手上海市登山户外运动协会联合举办，为选手提供了走出户外、享受运动的机会，为跑友们带来走出国门、异地探险的体验。通过结合邮轮的形式，从海上到陆地，从国内到国外，抛弃熟悉的街道和景观，迎接全新未知的旅程。参加“梦想坐标”的选手不仅能享受在豪华邮轮上独有的惬意，还能以一种被引领式的穿梭，全面感受异国他乡的独特魅力。第一届比赛在冲绳，第二届比赛在福冈，第三届梦想坐标锁定漂浮在海洋上的欢乐堡垒——盛世公主号。</p>
                </div>
            </div>
        </div>
    </div>
</div>