@{
    ViewBag.Title = "城市定向赛";
    Layout = "~/Views/Shared/_pLayout.cshtml";
}


@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
    body{margin: 0;padding: 0;background-color: #f4f4f4;font-family: "微软雅黑"}
    body ul{list-style-type: none}

    /*middle-bar*/
    .banner{height: 100px;background-color: #229fe6;text-align: center}

    .nav{height: 48px;background-color: #229FE6;text-align: center;}
    .nav ul{list-style-type: none;text-align: center;margin-left: 10%}
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #fed600}
    .nav ul .active{background-color: #fed600}

    /*competition*/


    /*foot*/
    .footer {  padding: 1em 0;  background: #CBCBCB;  }
    .footer-bottom {  padding-top: 2em;  }
    .copyright {  text-align: center;  }
    .copyright p {  display: block;  color: #FFFFFF;  font-size: 14px;  margin: .5em 0 0 0;  }
    .copyright p a {  color: #FFF;  }

    .rule{width: 900px;border-radius: 15px;margin:50px auto;background-color: #ffffff;padding: 30px 0}
    .tittle{width: 900px;height:90px;line-height: 90px;font-family: "微软雅黑";font-size: 25px;font-weight: normal;background-color: #fed600;color: #ffffff;padding-left: 20px}
    .action{margin: 20px 30px;line-height: 25px}
    .action span{float: left;width:25px;height: 25px;background: url("img/icon-rule-yellow.png");background-size: cover;margin-right: 10px}
    .action .part1{font-size: 15px;font-weight: 600}
    .action hr{margin-top: 15px;margin-bottom: 10px}
    .action .part2{padding:0px 80px 15px 50px;font-weight: 100;color: #666;margin-bottom: 35px;font-size: 10px}
    </style>
}

@section PageSpecificJavascriptIncludes{

  }

<div class="header nav">
     <ul>
        <li><a href="@Url.Action("Index", "dx")">首页</a></li>
        <li><a href="@Url.Action("bulletin", "dx")">赛事列表</a></li>
        <li class="active"><a href="#">赛事规程</a></li>
        <li><a href="@Url.Action("board", "dx")">赛事公告</a></li>
        <li><a href="@Url.Action("about", "dx")">坐标概述</a></li>
        <li><a href="@Url.Action("notice", "dx")">参赛须知</a></li>
       @if (ViewBag.uuid == null)
        {
            <li><a href="@Url.Action("login", "member")">登录注册</a></li>
        }
        else
        { 
            <li><a href="@Url.Action("center", "member")">我的信息</a></li>
        }
    </ul>
</div>

<!--competition-->
<div class="article">
    <div class="container">
            <div class="rule">
                <div class="tittle">2016 上海坐标•城市定向挑战赛竞赛规程</div>
                <div class="action">
                    <span></span><div class="part1">一、 主办单位</div>
                    <hr>
                    <div class="part2">上海市体育局<br>
                        中共上海市市级机关工作委员会<br>
                        上海市总工会<br>
                        中国共产主义青年团上海市委员会<br>
                        上海市妇女联合会<br>
                        <br></div>
                </div>
                <div class="action">
                    <span></span><div class="part1">二、 承办单位</div>
                    <hr>
                    <div class="part2">静安区体育局<br>
                        普陀区体育局<br>
                        徐汇区体育局<br>
                        嘉定区体育局<br>
                        闸北区体育局<br>
                        上海市登山运动协会<br>
                        五星体育传媒有限公司<br>
                        上海东亚体育文化中心有限公司<br>
                        <br></div>
                </div>
                <div class="action">
                    <span></span><div class="part1">三、 赛事运营 </div>
                    <hr>
                    <div class="part2">上海东亚体育经纪有限公司<br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">四、 竞赛日期、地点 </div>
                    <hr>
                    <div class="part2">（一）竞赛日期：2015年6月6日<br>
                        （二）竞赛地点：徐汇区、普陀区、静安区、黄浦区、浦东新区、嘉定区、虹口区、长宁区、松江区、闸北区、宝山区等<br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">五、竞赛分组与项目 </div>
                    <hr>
                    <div class="part2">比赛以五人组合形成一个参赛队，报名成功后，由赛事组委会按比赛线路将参赛队伍随机编组，参赛队按各自线路完成坐标点的穿越和活动任务。<br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">六、参赛办法与报名 </div>
                    <hr>
                    <div class="part2">（一）参加办法按照《2015年上海市民体育大联赛竞赛规程总则》规定执行。<br>
                        （二）参赛选手年龄限制为16至60周岁，且在本市工作、学习、居住。<br>
                        （三）报名办法<br>
                        1、以各区县、市级机关、各局、企业（集团）公司、高校、驻沪部队为单位及乡镇街道、企事业单位、中小学校、市民可自行组队参赛。<br>
                        2、报名日期：2015年4月2日
                        3、报名方式<br>
                        ⑴ 网上报名——登陆上海市登山运动协会网站（http://www.sh-ma.org/2015csdx ）填写相应报名表，完成后提交。<br>
                        ⑵ 现场报名——直接向上海市登山运动协会报名（上海市漕溪北路1111号小白楼205室）<br>
                        4、收费情况<br>
                        每队收报名费200元，用于购买参赛队比赛物资，包括一日地铁交通卡、参赛服装、个人意外伤害保险、队旗、饮用水等。<br>
                        5、报名表附后<br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">七、竞赛办法 </div>
                    <hr>
                    <div class="part2"> （一）采用国家体育总局最新审定出版的各项目竞赛规则和《2014年上海市民体育大联赛竞赛规程总则》规定执行 <br>
                        （二）比赛规则<br>
                        1、参赛队伍以集体形式向赛事组委会报名，每队5名队员，必须有一名以上异性。本次比赛由赛事组委会按比赛线路将参赛队伍随机编组，参赛队伍须服从编组，按编组线路参赛。<br>
                        2、所有参赛队在规定时间内，集体穿越比赛指定点标，并完成相关任务，以用时少、任务完成好者为胜。<br>
                        3、每参赛队需指定一名队长，参加赛事组委会安排的赛前培训，队长为该参赛队的负责人。<br>
                        4、参赛队员需在6月6日当天8:00之前到达比赛起点并接受检录，队长须在7:30前到达起点并签到、领取物品、召集队员。参赛队伍进入指定等候区域按指令依次出发，并在关门时间16点前到达终点。<br>
                        5、所有参赛队员在比赛中必须统一穿着赛事组委会提供的比赛服装，并于前胸全程佩戴号码布。<br>
                        6、每支参赛队伍配发一只电子指卡，由队长佩带。在比赛过程中漏打或错打电子指卡器，则比赛成绩无效，比赛结束后归还于终点计时处。<br>
                        7、所有参赛队须五人集体按照任务书指令到达每个点标并完成任务，且中途不得更换队员。<br>
                        8、参赛队伍在比赛中只能徒步或奔跑，并借助市内公共交通工具（仅限地铁、公交）。凡使用自驾、指派车辆等非公共交通工具，比赛成绩无效。<br>
                        9、在比赛过程中，因坐标点拥挤造成等待，参赛队员须耐心接受并依次排队完成相关任务。<br>
                        10、参赛队员须遵守公共秩序、交通规则及比赛规则，如有违反，取消比赛成绩。<br>
                        11、参赛队员自行解决在本次比赛中交通、地图、通讯、餐饮及其他相关费用。<br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">八、录取名次和奖励办法 </div>
                    <hr>
                    <div class="part2">以赛事组委会所设定的线路，依照各参赛队伍的有效比赛成绩，分别录取前10名，颁发证书或给予物质奖励。 <br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">九、申诉和纪律 </div>
                    <hr>
                    <div class="part2">（一）各参赛队伍，在报名前须阅读并签署本赛事《参赛须知》，比赛过程中全体队员严格遵守参赛须知及比赛规则。<br>
                        （二） 对比赛成绩存有异议，须由参赛队长递交书面申诉书于比赛当日17:00向赛事组委会申诉。<br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">十、其他各项规定均按《2015年上海市民体育大联赛竞赛规程总则》规定执行。 </div>
                    <hr>
                    <div class="part2"> <br>
                        <br>
                    </div>
                </div>
                <div class="action">
                    <span></span><div class="part1">十一、本竞赛规程的解释、修改权属本届大联赛办公室。 </div>
                    <hr>
                    <div class="part2"> <br>
                        <br>
                    </div>
                </div>
            </div>
    </div>
</div>