@using Model;

@model List<tblmatch>

@{
    ViewBag.Title = "城市定向赛";
    Layout = "~/Views/Shared/_pLayout.cshtml";
}

@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            font-family: "微软雅黑";
        }

            body ul {
                list-style-type: none;
            }

        /*middle-bar*/
        .banner {
            height: 100px;
            background-color: #229fe6;
            text-align: center;
        }

        .nav {
            height: 48px;
            background-color: #229FE6;
            text-align: center;
        }

            .nav ul {
                list-style-type: none;
                text-align: center;
                width: 700px;
                margin: 0 auto;
            }

                .nav ul li {
                    float: left;
                    font-size: 1.2em;
                    line-height: 48px;
                    color: #ffffff;
                    margin: 0 15px;
                }

                    .nav ul li a {
                        padding: 0 15px;
                        color: #ffffff;
                        text-decoration: none;
                    }

                    .nav ul li:hover {
                        background-color: #48b4ff;
                    }

                .nav ul .active {
                    background-color: #48b4ff;
                }



        /*about*/
        .about-grids {
            margin-bottom: 1em;
        }

        .about-left h3 {
            font-size: 23px;
            margin: 0 0 1em 0;
            font-weight: 700;
            padding-bottom: .5em;
            border-bottom: 1px solid #868686;
            color: #1CD5B5;
            font-family: 'PoiretOne-Regular';
        }

        .about-left p {
            font-size: 14px;
            margin: 0.5em 0;
            color: #B3B3B3;
            line-height: 1.8em;
        }

        .about-middle h3 {
            font-size: 23px;
            margin: 0 0 1em 0;
            font-weight: 700;
            padding-bottom: .5em;
            border-bottom: 1px solid #868686;
            color: #1CD5B5;
            font-family: 'PoiretOne-Regular';
        }

        .about-right h3 {
            font-size: 23px;
            margin: 0 0 1em 0;
            font-weight: 700;
            padding-bottom: .5em;
            border-bottom: 1px solid #868686;
            color: #1CD5B5;
            font-family: 'PoiretOne-Regular';
        }

        .about-right-info p {
            font-size: 14px;
            margin: 0.5em 0;
            color: #B3B3B3;
            line-height: 1.8em;
        }

        /*foot*/
        .footer {
            padding: 1em 0;
            background: #CBCBCB;
        }

        .footer-bottom {
            padding-top: 2em;
        }

        .copyright {
            text-align: center;
        }

            .copyright p {
                display: block;
                color: #FFFFFF;
                font-size: 14px;
                margin: .5em 0 0 0;
            }

                .copyright p a {
                    color: #FFF;
                }

        .rule {
            width: 900px;
            border-radius: 15px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 30px 0;
        }

        .tittle {
            width: 900px;
            height: 90px;
            line-height: 90px;
            font-family: "微软雅黑";
            font-size: 25px;
            font-weight: normal;
            background-color: #48b4ff;
            color: #ffffff;
            padding-left: 20px;
        }

        .action {
            margin: 20px 30px;
            line-height: 25px;
        }

            .action span {
                float: left;
                width: 25px;
                height: 25px;
                background: url("img/icon-rule-orang.png");
                background-size: cover;
                margin-right: 10px;
            }

            .action .part1 {
                font-size: 15px;
                font-weight: 600;
            }

            .action hr {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .action .part2 {
                padding: 0px 80px 15px 50px;
                font-weight: 100;
                color: #666;
                margin-bottom: 35px;
                font-size: 10px;
            }

        .table blockquote {
            margin: 0;
            padding: 0 10px;
            font-size: 10px;
        }
        /*.table tbody td{padding: 10px 0;}*/

        /*foot*/
        /*.footer {  padding: 1em 0;  background: #CBCBCB;  }
        .footer-bottom {  padding-top: 2em;  }
        .copyright {  text-align: center;  }
        .copyright p {  display: block;  color: #FFFFFF;  font-size: 14px;  margin: .5em 0 0 0;  }
        .copyright p a {  color: #FFF;  }*/

        /*比赛时间列表*/

        .tittle {
            height: 90px;
            line-height: 90px;
            font-family: "微软雅黑";
            font-size: 25px;
            font-weight: normal;
            background-color: #48b4ff;
            color: #ffffff;
            padding-left: 20px;
        }

        h6 {
            color: #fff;
            font-weight: bold;
        }

            h6 .yu {
                background-color: green;
            }

            h6 .day {
                background-color: red;
            }
    </style>
}

@section PageSpecificJavascriptIncludes{

}

<div class="header nav">
    <ul>
        <li><a href="@Url.Action("Index", "dx")">首页</a></li>
        <li class="active"><a href="bulletin">赛事列表</a></li>
        <li><a href="@Url.Action("board", "dx")">竞赛公告</a></li>
        <li><a href="@Url.Action("about", "dx")">关于我们</a></li>
        @if (ViewBag.uuid == null)
        {
            <li><a href="@Url.Action("login", "member")">登录注册</a></li>
        }
        else
        {
            <li><a href="@Url.Action("center", "member")">我的信息</a></li>
        }
    </ul>
</div>

<!--bulletin-->


<div class="about">
    <div class="container">
        <div class="rule">
            <div class="tittle">第二届“梦想坐标•国际城市定向挑战赛”- 福冈站</div>
            <div class="action">
                <span></span><div class="part1">
                    赛事名称：第二届“梦想坐标•国际城市定向挑战赛”- 福冈站<br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DREAM COORDINATES CITY ORIENTEERING CHALLENGE
                   
                                 <a href="@Url.Action("Protocol", "enter", new { matchid = "602e3479-4a30-42b9-b4b0-fa6461e2ccac" })" class="btn btn-danger" style="margin-left:240px;">立即报名</a>

                </div>
                <hr>
                <div class="part2">
                    主办单位： 上海中旅国际旅行社有限公司<br>
                    承办单位： 上海市登山户外运动协会<br>
                    协办单位： ORIENTAL株式会社&nbsp;公主邮轮<br>
                    支持单位： 上海锦江旅游控股有限公司<br>
                    支持媒体： 解放日报&nbsp;新民晚报&nbsp;文汇报&nbsp;东方网&nbsp;腾讯大申&nbsp;乐视体育&nbsp;东方头条&nbsp;聚力体育&nbsp;东方体育日报&nbsp;上海跑步者
                </div>
            </div>

            <div class="action">
                <span></span><div class="part1">赛事简介</div>
                <hr>
                <div class="part2">
                    <table class="table">
                        2017年，继第一届“梦想坐标•国际城市定向挑战赛”在日本冲绳成功举办后，主办方将新的梦想坐标锁定在了日本的福冈市。选手们将于8月17日搭乘最新的豪华邮轮“盛世公主号”前往日本九州最大的经济中心福冈参赛。今年，我们进一步优化了赛事内容，增加了家庭亲子线，线路将穿越福冈城遗址，当地最有名的购物中心天神、博多地区，以及著名的文化地标太宰府天满宫等。赛事将健身、文化、购物、美食等元素完美结合，让您更为自由、轻松的去探索这个充满魅力的城市，收获属于自己的这份独一无二的参赛体验！
                    </table>
                </div>
            </div>
			
			 <div class="action">
                <span></span><div class="part1">预报名时间</div>
                <hr>
                <div class="part2">
                    <table class="table">
                       2017年5月10日
                    </table>
                </div>
            </div>
			<div class="action">
                <span></span><div class="part1">正式比赛时间</div>
                <hr>
                <div class="part2">
                    <table class="table">
                       2017年8月19日&nbsp;(邮轮航班时间8月17日—21日)
                    </table>
                </div>
            </div>
			<div class="action">
                <span></span><div class="part1">线路设置</div>
                <hr>
                <div class="part2">
                    <table class="table">
                       成人标准线路4人(至少有一名异性)<br>
					   亲子线路3~4人(有1~2名年龄在12岁以下儿童)
                    </table>
                </div>
            </div>
            <div class="action">
                <span></span><div class="part1">奖项设置</div>
                <hr>
                <div class="part2">
                    <table class="table">
                        各线路设冠军、亚军、季军队伍，颁发奖杯，全部完赛队员可获得精美纪念奖牌一枚，另有丰富的幸运奖项。
                        <br>
                    </table>
                </div>
            </div>
            <div class="action">
                <span></span><div class="part1">提示</div>
                <hr>
                <div class="part2">
                    <table class="table">
                        主办方视报名情况有权对报名时间、赛事内容作出调整
                    </table>
                </div>
            </div>
			 <div class="action">
                <span></span><div class="part1">邮轮行程链接</div>
                <hr>
                <div class="part2">
                    <table class="table">
                        <a href="https://items.fliggy.com/item.htm?spm=a220z.1000880.0.0.XebdFY&id=539144953057"  target="_blank">https://items.fliggy.com/item.htm?spm=a220z.1000880.0.0.XebdFY&id=539144953057</a>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
