@using Model;
@using BLL;
@using Web;

@model tblusers

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}

@section PageSpecificJavascriptIncludes{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#mainForm").submit(function () {

                return true;
            });
        });
    </script>
}

@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <input id="id" type="hidden" value="@Model.userid" />

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>手机号码：</label>
                <div class="controls">
                    <input type="text" class="m-wrap small" readonly="true" value="@Model.Mobile" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>密码：</label>
                <div class="controls">
                    <input type="text" name="Passwd" value="******" class="m-wrap small" />
                   </div>
            </div>

            <div class="control-group">
                <label class="control-label">性别：</label>
                <div class="controls">
                    <select id="optSexy" name="optSexy" data-placeholder="请选择性别" class="m-wrap small">
                        @Html.Raw(ViewBag.Sexy)
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">证件类别：</label>
                <div class="controls">
                    <select id="optCardType" name="optCardType" data-placeholder="请选择证件类型" class="m-wrap small">
                        @Html.Raw(ViewBag.CardType)
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">证件号码：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.cardno, new { @class = "m-wrap large" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">生日：</label>
                <div class="controls">
                    @if (Model.birthday != null)
                    {
                        <input type="text" id="birthday" name="birthday" class="m-wrap small" value="@Model.birthday.Value.ToString("yyyy-MM-dd")" />
                    }
                    else
                    {
                        <input type="text" id="birthday" name="birthday" class="m-wrap small" />
                    }
                    
            </div>

            <div class="control-group">
                <label class="control-label">状态：</label>
                <div class="controls">
                    <select id="optStatus" name="optStatus" data-placeholder="请选择状态" class="m-wrap small">
                        @Html.Raw(ViewBag.Status)
                    </select>
                </div>
            </div>
        </div>
    </div>
}
        <script type="text/javascript" src="@Url.Content("~/scripts/js/selector/jquery-1.10.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/js/datepicker/jquery-ui.js")"></script>
<script>
    $(function () {
        $("#birthday").datepicker({ dateFormat: 'yy-mm-dd' });
    });

</script>

